.content {
    margin-top: 5px;
    
    text-align: center;
    box-shadow: inset 0 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;

  }

.table {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: none;
  margin-left: auto;
  cursor: pointer;
    
  }

.button:hover{
    background-color: #348537;
    
  }

.bottom{
  background-color: lightblue;
}

.formClient{
width: 75%;
}

.label{
  padding-top: 5%;
}