<nav class="navbar is-dark" role="navigation" aria-label="main navigation" style="margin-bottom: 60px;">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="assets/images/citycar.png" />
        </a>
    </div>
    <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">Accueil</a>
            <a class="navbar-item" href="/liste">Login</a>
        </div>
    </div>
</nav>