<div class="container box " style="width: 50em;">
    <form [formGroup]="form" (ngSubmit)='getCode()'>
        <div class="field">
    
            <label class="label">Votre code d'identification</label>
                <div class="control">
                        <input class="input is-dark" formControlName="code"  type="number"
                        placeholder="ex : 12345" value="">
                        <button class="button is-dark">On</button>
                    
                </div>
                 </div>
        
    </form>
    <div *ngIf='message != ""'>
        {{message}}
    </div>
    
</div>
