<body >
    <table class="customers">
            <tr >
                <th>Client</th>
                <th>Service</th>
            </tr>
            <tr *ngFor="let clients of clients">
                <td>{{clients.nom}}</td>
                <td>{{clients.service}}</td>
            </tr>
    </table>
    
    
    </body>