.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}  

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 50%;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }

 .saveButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border: none;
  margin-left: auto;
  cursor: pointer;
 }

 .button-style{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1%;
 }

 .bddButton{
  background-color: #2e74c5; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
 }


 .deleteButton{
  color: white;
  background-color: red;
  text-align: center;
  padding: 10px 22px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-right: auto;
  margin-left: auto;

 }