<body >
    <div class="buttons">
    <button class="saveButton" (click)="addClient()"> 
        <span >Sauvegarder</span> 
    </button>
    <button class="deleteButton" (click)="deleteAllClients()"> 
        <span >Supprimer</span> 
    </button>
    </div>
    <table class="customers">
            <tr >
                <th>Client</th>
                <th>Service</th>
            </tr>
            <tr *ngFor="let client of allClients">
                <td>{{client.nom}}</td>
                <td>{{client.service}}</td>
            </tr>
    </table>
    <div class="button-style">
        <a href="/datas">
        <button class="bddButton">
            <span> Base de données</span>
        </button>
        </a>
    </div>
    
    
    </body>